form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

label {
	font-size: 0.85em;
}

input, textarea {
	font-size: 1rem;
	padding: 0.5em 0.75em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input:focus, textarea:focus {
	outline-color: #007BFF;
}

.error {
	color: red;
	font-size: 0.85em;
}

.hidden {
	display: none;
}

button {
	width: fit-content;
	padding: 0.5em 1.5em;
	font-size: 1rem;
	color: #fff;
	background-color: #007BFF;
	border: none;
	border-radius: 4px;
	cursor: pointer;	
}

button:disabled {
	background-color: #6c757d;
	cursor: not-allowed;
}

#submit-message {
	color: green;
}
