article {
	width: 80%;
	max-width: 1024px;
	height: fit-content;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding-inline: 2.5em;
	padding-block: 3em;
	margin-block: 0.5em;
}

header + p {
	margin-bottom: 0;
}

article > *:not(:first-child) {
	margin-top: 1.5em;
}

header p {
	margin: 0;
}

.social-links ul {
	display: flex;
	gap: 1.5em;
}

@media (max-width: 992px) {
 	article {
		padding-inline: 2em;
		padding-block: 2.5em;
	}

}

@media (max-width: 767px) {
	article {
		width: 95%;			
		padding-inline: 1.5em;
		padding-block: 2em;
	}

	.social-links ul {
		display: block;
	}
}
