* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
	font-size: 1rem;
}

main {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h1, h2 {
	text-wrap: wrap;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	line-height: 1.5;
	font-weight: 600;
	margin-bottom: 0;
}

article {
	width: 80%;
	max-width: 800px;
	height: fit-content;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding-inline: 2.5em;
	padding-block: 3em;
	margin-block: 2em;
}

article > *:not(:first-child) {
	margin-top: 1.5em;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

#banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

a {
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

a::after {
	content: '';
	position: absolute;
	outline: none;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.5px;
	background-color: blue;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.25s ease-out;
}

a:hover::after {
	transform: scaleX(1);
}

a:focus-visible {
	outline: none;
	text-decoration: none;
}

a:focus-visible::after {
	transform: scaleX(1);
	background-color: currentColor;
}

nav {
	display: flex;
	gap: 1.5em;
	margin-top: 1em;
}

nav a:visited {
	color: blue;
}

nav a.current-page {
	color: black;
	font-weight: 600;
}

@media (max-width: 992px) {
	#banner {
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0.75em;
	}

 	article {
		padding-inline: 2em;
		padding-block: 2.5em;
	}

}

@media (max-width: 767px) {
	#banner {
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
	}

	article {
		width: 95%;			
		padding-inline: 1.5em;
		padding-block: 2em;
		margin-block: 0.5em;
	}
}